.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

// Remove navigation bar completely
// #_navbar {
//  display: none
// }

// Reduce padding above content since navigation bar is removed
// .content {
//   padding: 4rem 1rem 12rem
// }

// Wider main content (standard is 48)
.content {
    max-width: 58rem;
}

// Remove borders of publications
table.publication:not(.highlight) tbody tr:nth-child(even) td,
table.publication:not(.highlight) tbody tr:nth-child(odd) td {
    border: 0px solid #CCC;
    border-collapse: collapse;
    background-color: transparent;
}
