.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

// Remove navigation bar completely
// #_navbar {
//  display: none
// }

// Reduce padding above content since navigation bar is removed
// .content {
//   padding: 4rem 1rem 12rem
// }

// Wider main content (standard is 48)
.content {
    max-width: 58rem;
}

// Sidebar logo size
.sidebar-about .avatar {
    width: 10rem;
    height: 10rem;
}

// Remove borders of publications
table.publication:not(.highlight) tbody tr:nth-child(even) td,
table.publication:not(.highlight) tbody tr:nth-child(odd) td {
    border: 0px solid #CCC;
    border-collapse: collapse;
    background-color: transparent;
}

// Remove underline of header links
.content a.header:not(.btn):not(.no-hover) {
    text-decoration-color: transparent;
}
  
// Give menu items regular weight for v9
html {
    --font-weight-heading: 600;
}

// Sidebar menu font size
.sidebar-nav-item {
    font-size: 1rem;
}

// Reduce top margin and weight of headings
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0; 
    font-weight: 600;
}

// Publication thumbnail
img.pub_thumb {
    max-width: 100%;
    max-height: 13rem;
}

// Hide page-title in top
.page-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

// Body social media tabs
.body-social > ul {
  display: inline-block;
  list-style: none;
  margin-bottom: 0;
  overflow: hidden;
  padding-left: 0;
}

.body-social > ul > li {
  float: left;
  padding-right: 1.25rem;
}

.body-social > ul > li > a {
  display: inline;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem 0;
  line-height: 3rem;
  text-decoration: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.body-social > ul > li > a > .sr-only{ 
    display: inline;
    position: absolute;
    overflow: unset;
    clip: unset;
}
